.Scroll_button .scrollIcon {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 12%;
    right: 3%;
    color: var(--white);
    border-radius: 50px;
    border: none;
    font-size: 50px;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 100;
    transition: all .6s ease-in-out !important;
    animation: uparrow 1s ease-in-out infinite alternate !important;
  }
  
  @keyframes arrowup {
    0% {
      align-items: center;
    }
  
    100% {
      align-items: stretch;
    }
  }
  
  @keyframes uparrow {
    0% {
      -webkit-transform: translateY(0);
      color: #ffa500;
    }
  
    100% {
      -webkit-transform: translateY(-0.4em);
      opacity: 0.9
    }
  }
  
  @media screen and (max-width:425px) {
    .scroll-to-top {
      font-size: 40px;
      color: white;
      display: flex;
    }
  }
  
  #dill i {
    font-size: 20px;
    bottom: -5px;
    animation: heart 1s ease-in-out infinite alternate !important;
  }
  
  @keyframes heart {
    0% {
      -webkit-transform: translateX(0);
      color: red;
    }
  
    100% {
      -webkit-transform: translateX(-0.4em);
      opacity: 0.9;
      color: rgb(245, 188, 188)
    }
  }
  